

<div class="container">
	<h1>Welcome to the bog blog</h1>
	<% @posts.each do |post| %>
		<div>
			<h2>Title: <%= post.title %> </h2>
			<p> Author:<%= post.author %></p>
			<p> Time: <%=post.created_at %></p>
			<p> <%= post.content %></p>
			<a href="/posts/<%= post.id %>">Show Page</a>
			<a href="/posts/<%= post.id %>/comments"><%= post.comments.length %> Comment(s)</a>
		</div>

	<% end %>

	<a href="/posts/new">Create a new post </a>
</div>s